<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 style="text-align: center">Books I've Read</h3>
    <p> The Books I've Read application is a little learning project written by <a target="_blank" href="">yours truly.</a> It features an administration back-end that allows the user to manage books and import information about books from the <a target="_blank" href="">goodreads.com api.</a>
    <p>The Books I've Read application is built on the following technologies:</p>
    <ul>
      <li><a target="_blank" href="">node.js</a></li>
      <li><a target="_blank" href="">mongo db</a></li>
      <li><a target="_blank" href="">express</a></li>
      <li><a target="_blank" href="">passport</a></li>
      <li><a target="_blank" href="">handlebars</a></li>
      <li><a target="_blank" href="">jquery</a></li>
      <li><a target="_blank" href="">gulp</a></li>
    </ul>
    <p>And, of course, it is hosted on <a target="_blank" href="">heroku!</a></p>
    <p>TO-DO's &amp; FUTURE FEATURES</p>
    <ul>
      <li>thing</li>
      <li>thing</li>
    </ul>
  </div>
</div>