<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 style="text-align: center">Books I've Read</h3>
    <p> The Books I've Read application is a little learning project written by <a target="_blank" href="">yours truly.</a> It features an administration back-end that allows the user to manage books and import information about books from the <a target="_blank" href="">goodreads.com api.</a>
    <p>The Books I've Read application is built on the following technologies:</p>
    <ul>
      <li><a target="_blank" href="https://nodejs.org/en/">node.js</a></li>
      <li><a target="_blank" href="https://www.mongodb.com/">mongo db</a></li>
      <li><a target="_blank" href="https://expressjs.com/">express</a></li>
      <li><a target="_blank" href="http://passportjs.org/">passport</a></li>
      <li><a target="_blank" href="http://handlebarsjs.com/">handlebars</a></li>
      <li><a target="_blank" href="https://jquery.com/">jquery</a></li>
      <li><a target="_blank" href="http://getbootstrap.com/">bootstrap</a></li>
      <li><a target="_blank" href="http://gulpjs.com/">gulp</a></li>
    </ul>
    <p>And, of course, it is hosted on <a target="_blank" href="https://www.heroku.com/home">heroku!</a></p>
    <h4>SCREENSHOTS</h4>
    <div id="screenshot-container">
      <a href="/img/1.png" data-lightbox="screenshots"><img src="/img/1-th.png" /></a>
      <a href="/img/2.png" data-lightbox="screenshots"><img src="/img/2-th.png" /></a>
      <a href="/img/3.png" data-lightbox="screenshots"><img src="/img/3-th.png" /></a>
      <a href="/img/4.png" data-lightbox="screenshots"><img src="/img/4-th.png" /></a>
      <a href="/img/5.png" data-lightbox="screenshots"><img src="/img/5-th.png" /></a>
      <div style="clear:left"></div>
    </div>
    <h4>TO-DO's &amp; FUTURE FEATURES</h4>
    <ul>
      <li>Make multi-user</li>
      <li>Better error handling</li>
      <li>Pagination for front-end</li>
    </ul>
  </div>
</div>